.highcharts-figure, .highcharts-data-table table {
  min-width: 360px; 
  max-width: 750px;
  margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

body {
    background: #ffffff; /* Для старых браузров */
    background: linear-gradient(to top, #e7e7e7, #ffffff);
    height: 100vh;
    width: 100vw;
   }
   
ul.main_menu {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  margin-top:25px; /*делаем отступ сверху*/
  background:#808080; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
  height: 50px; /*задаем высоту*/
  width: 100%;
}
a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background:#808080; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
  color:#fff; /*меняем цвет ссылок*/
  padding:0px 15px; /*добавляем отступ*/
  font-family: arial; /*меняем шрифт*/
  line-height:50px; /*ровняем меню по вертикали*/
  display: block; 
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
a:hover {
  background:#333333;/*добавляем эффект при наведении*/
}
li.menu {
  float:right; /*Размещаем список горизонтально для реализации меню*/
  position: relative;
  right: 30px;
}

.btn-new {
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #808080;
	background-color: #808080; /* Green */
	  border: none;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  
}

.btn-new:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #808080;
}

.logo {
	position: absolute;
	top: 30px;
	left: 15px;
}

table { border-collapse: collapse; }
table, th, td { border: 1px solid black; }

.centered{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.port{
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.port:hover{
  background-color: #b3b3b3;
}